<!DOCTYPE HTML>
<html>
    
    <head>
        <title>Create Bakery</title>
    </head>

    <body class='new_bakery'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    

        <h1>Create a New Bakery</h1>
        
        <%= form_for @bakery do |f| %>
            <%= f.label "Bakery's Name" %>
            <%= f.text_field :name %>
            <%= f.label "Bakery's Address" %>
            <%= f.text_field :address %>
            <%= f.submit "Create Bakery" %>
        <% end %>

    </body>

</html>