<!DOCTYPE HTML>
<html>
    <head>
        <% session['bakery_id'] = @bakery.id %>
        <title>Bakery Info Page</title>
        <h1> <%= @bakery.name %> </h1>
    </head>

    <body>

        <h2> Address: <%= @bakery.address %> </h2>

        <br>
        <hr />
        <br>

        <div>
        <h1> Menu </h1>
        <ul>
        <% @bakery.menu_items.each do |item| %>
            <h2><li><%= item.name %></li></h2>
            <ul>
                <% item.ingredients.each do |ing| %>
                    <h4><li><%= ing.name %></h4></li>
                <%end%>


            </ul>
        <%end%>
        </ul>
        </div>

        <br>
        <%= link_to 'Create an Order with This Bakery', new_order_path %>
        
    </body>
</html>