<!DOCTYPE HTML>

<% if @order.errors %>
  <% @order.errors.full_messages.each do |message|%><br>
    <%= message %>
  <%end%>
<%end%>

<html>
    <head>
        <title>New Order</title>
    </head>

    <body class='new_order'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
   
        <h1>New Order</h1>

        <%= form_for @order do |f|%>

            <%= f.hidden_field(:customer_id, :value => session["user_id"]) %>

            <%= f.label "Is Your Order a Delivery?" %>
            <%= f.radio_button(:is_delivery, :checked => true, :value => true) %>Yes
            <%= f.radio_button(:is_delivery, :checked => false, :value => false) %>No

            <br>
            <br>

            <%= f.label "Choose an Item" %>
            <% if session['bakery_id'] %>
                <%= f.collection_select(:menu_item_id, Bakery.find(session['bakery_id']).menu_items, :id, :name, {:prompt => "Select one"}) %>
            <% else %>
                <%= f.collection_select(:menu_item_id, MenuItem.all, :id, :name, {:prompt => "Select one"}) %>
            <%end%>

            <%= f.label "Choose Number of Layers" %>
            <%= f.text_field :layers %>

            <br>
            <br>

            <%= f.label "Choose a Filling (optional)" %>
            <%= f.text_field :filling %>

            <br>
            <br>

            <%= f.label "Write a Description for Your Order" %>
            <%= f.text_field :desc %>

            <br>
            <br>

            <%= f.submit "Submit Order" %>
        <%end%>

    </body>
</html>
