<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
        <title>Order Information</title>
    </head>

    <body class='show_bakery'>

            <div><button> <%= link_to "Back to Profile", customer_path(Customer.find(@order.customer_id)) %> </button></div><br>

            <h1> <%= @order.menu_item.name %> </h1>
            <h2> <%= "#{@month} #{@day}, #{@year}" %> </h2>

            <h3>Order: <%= @order.menu_item.name %></h3>
            <h3>Description: "<%= @order.desc %>"</h3>

            <% if @order.is_delivery? == true %>
                <h3>Was Delivered.</h3>
             <% else %>
                <h3>Was Picked Up.</h3>
            <%end%>

            <% if @order.layers == nil || @order.layers == 0 %>
                <h3>Layers: 1 </h3>
            <% else %>
                <h3>Layers: <%= @order.layers %> </h3>
            <%end%>

            <% if @order.filling == nil || @order.filling.length == 0 %>
                <h3>No Filling.</h3>
            <% else %>
                <h3>Filling: <%= @order.filling %> </h3>
            <%end%>

        <br>
        <%= form_tag @order, method:'DELETE' do %>
            <%= submit_tag "Delete This Order" %>
        <%end%>



    </body>
</html>
