<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
        <title>Order Information</title>
    </head>

    <body style=margin:20px>

            <div><button> <%= link_to "Back to Profile", customer_path(Customer.find(@order.customer_id)) %> </button></div><br>

            <h1> <%= @order.menu_item.name %> </h1>

            <h3>Order: <%= @order.menu_item.name %></h3>
            <h3>Description: <%= @order.desc %></h3>
            <h3>Delivery? <%= @order.is_delivery? %></h3>

        <% if @order.menu_item.name == 'Cake' %>
            <%= image_tag 'cake.png' %><br>
        <% elsif @order.menu_item.name == 'Donut' %>
            <%= image_tag 'donut.png' %><br>
        <%end%>

        <br>
        <%= form_tag @order, method:'DELETE' do %>
            <%= submit_tag "Delete This Order" %>
        <%end%>



    </body>
</html>
